name: Waka Readme

on:
  schedule:
    - cron: "30 18 * * 1,3,5"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_PROJECTS: "False"
          SHOW_LOC_CHART: "False"
          SHOW_LINES_OF_CODE : "True"
          COMMIT_BY_ME: "True"
          COMMIT_MESSAGE : "chore: update waka stats"
          SHOW_PROFILE_VIEWS: "False"  